<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="SharwAPI" value="https://nuget.hope-now.top/v3/index.json" />
  </packageSources>
  
  <packageSourceMapping>
    <packageSource key="SharwAPI">
      <package pattern="sharwapi.*" />
    </packageSource>
    <packageSource key="*">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>